html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#container {
	width: 100%;
	height: 100%;
}

.menuBar {
	width: 100%;
	height: 28px;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	opacity: 1;
	background-color: #404040;
}

.colors, .sizes{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.color, .size{
	height: 100%;
	width: 27px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 50%;
}

.sizes {
	width: 10%;
	padding-right: 10px;
}

.size {
	border-radius: 0%;
	background-color: #d0d0d0;
}

.black {
	background-color: #000;
}

.white {
	background-color: #fff;
}

.red {
	background-color: #FF4136;
}

.green {
	background-color: #2ECC40;
}

.blue {
	background-color: #0074D9;
}

.selected {
	border: 4px solid #d0d0d0;
}

.selected-size {
	border: 4px solid #101010;
}

.small {
	width: 6px;
	height: 6px;
}

.medium {
	width: 12px;
	height: 12px;
}

.large {
	width: 18px;
	height: 18px;
}